
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class = "row">
    <h2> Liste des produits</h2>
  
</div>
<div >
<table  id="pdfTable" #pdfTable class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> nom produits</th>
            <th> Quantité produits </th>
            <th> Date de création</th>
            <th> Date de modification </th>
            <th> Disponibilité </th>
        </tr>
    </thead>
    <ng-container *ngIf="produits">
    <tbody>
        <tr *ngFor = "let produit of produits" >
            <td > {{ produit.nom }} </td>
            <td> {{ produit.qt }} </td>
            <td> {{ produit.date_creation }} </td>
            <td> {{ produit.date_modif }} </td>
            <td> {{ produit.disponible }} </td>
            <td>
                <button routerLink="/update-produits/{{produit.id}}" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteProduits(produit.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
             
            </td>
        </tr>
      

    </tbody> </ng-container>
</table></div>
<div class = "container">
    <router-outlet></router-outlet>
  </div>